def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')


params {
    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                      = null

    // Boilerplate options
    outdir                     = "output"
    tracedir                   = "${params.outdir}/pipeline_info/${trace_timestamp}"
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false
    validate_params            = true
    show_hidden_params         = false

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '10.GB'
    max_cpus                   = 4
    max_time                   = '240.h'

    help = false
    version = false

    store_dir = "store_dir"
    unique_id = null
    timestamp = "${trace_timestamp}"


    // simulate datasets
    dataset_coverage = "10k"
    lookup = ["illumina": "wgsim", "ont": "badread"]
    output_dir = "output" // Output directory

    // Generate Recipes parameters

    reference_csv = null
    reference_dir = "store/references"

    dataset_csv = ""
    dataset_index = "public_database_accession"
    dataset_dir = "store/datasets"

    read_types = ["illumina","ont"]
    coverages = [0.1, 1, 10, 100]
    num_iterations = 1

    paired = null
    unpaired = null

    // Bad read parameters - refer to badread docs for explanations of each - default settiings provided
    // --length
    badread_length = "15000,13000"
    // --identity
    badread_identity = "95,99,2.5"
    // --error_model
    badread_error_model = "nanopore2023"
    // --qscore_model
    badread_qscore_model = "nanopore2023"
    // --junk_reads
    badread_junk_reads = "1"
    // --random_reads
    badread_random_reads = "1"
    // --chimeras
    badread_chimeras = "1"
    // --glitches
    badread_glitches = "10000,25,25"

    //wgsim parameters - refer to wgsims docs for detailed explanation
    // -1
    wgsim_length_read1 = "150"
    // -2
    wgsim_length_read2 = "150"
    // -r
    wgsim_mutation_rate = "0.001"
    // -R
    wgsim_indel_fraction = "0.15"
}
